.hovergallery img{ -webkit-transform:scale(1);
    -webkit-transition-duration: 0.8s; 
    opacity: 1;
    margin: 0 10px 5px 0; 
    margin between images }

.hovergallery img:hover{ -webkit-transform:scale(1.04); 

box-shadow:0px 0px 15px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 15px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 15px gray; /*Mozilla shadow version*/ opacity: 1.04; }