<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/style1.css">
	<link rel="stylesheet" href="../css/style2.css">
	<link rel="stylesheet" href="../css/style3.css">
	<link rel="stylesheet" href="../css/style4.css">
	<link rel="stylesheet" href="../css/style5.css">
	<link rel="stylesheet" href="../css/style6.css">
	<link rel="stylesheet" href="../css/style7.css">
	<link rel="stylesheet" href="../css/style8.css">
	<link rel="stylesheet" href="../css/style9.css">
	<link rel="stylesheet" href="../css/stylefix.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<title>Danh mục sản phẩm</title>
</head>
<body>
	<div class="container-fluid">
		<div class="header">
			<div class="icon-bar">
				<div class="icon-left">
					<ul>
						<li><i class="fab fa-facebook-f"></i></li>
						<li><i class="fab fa-instagram"></i></li>
						<li><i class="fab fa-twitter"></i></li>
						<li><i class="fab fa-pinterest"></i></li>
					</ul>
				</div>
				<div class="title">
					<h1>KARL</h1>
				</div>
				<div class="icon-right">
					<ul>
						<li><i class="fas fa-search"></i></li>
						<li><i class="far fa-heart"></i></li>
						<li><i class="fas fa-shopping-cart"></i></li>
						<li><i class="glyphicon glyphicon-menu-hamburger"></i></li>
					</ul>
				</div>   
			</div>
			<hr>
			<div class="menu">
				<div class="covermenu">
					<a href="index.html">Home</a>
					<div class="dropdown">
						<button class="dropbtn">Pages</button>
						<div class="dropdown-content">
							<a href="#">Products</a>
							<a href="#">Products1</a>
							<a href="#">Products2</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Makeup</button>
						<div class="dropdown-content">
							<a href="#">Eyes</a>
							<a href="#">Face</a>
							<a href="#">Lip 3</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Skincare</button>
						<div class="dropdown-content">
							<a href="#">Sun care</a>
							<a href="#">Eyes</a>
							<a href="#">Toner</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Body</button>
						<div class="dropdown-content">
							<a href="#">Washes</a>
							<a href="#">Treatments</a>
							<a href="#">Kits</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn">Blog</button>
						<div class="dropdown-content">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a>
							<a href="#">Link 3</a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-products">
				<img src="../img/breadcrumb_1920x1920.jpg" alt="" width="100%">
				<h2>Face Serums</h2>
				<p><a href="index.html">Home </a>/ <span>Face Serums</span></p>
			</div>
			<div class="list-products-content">
				<div class="col-lg-2">
					<div class="title-one">
						<i class="material-icons">tune</i><span>FILTER BY</span>
					</div>
					<hr />
					<div class="list-products-menu">
						<div class="title-two">
							<i class="material-icons">subject</i><span>PRODUCT TYPE</span>
						</div>
						<div class="list-products-item">
							<ul>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Eye Care</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Face</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Lanveder</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Lips</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Makeup</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Mint Oil</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<hr />
					<div class="list-products-menu">
						<div class="title-two">
							<i class="material-icons">subject</i><span>BY BRAND</span>
						</div>
						<div class="list-products-item">
							<ul>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Burberry</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Kenzo</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Louis Vuitton</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Police</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>TomFord</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>Vinova</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<hr />
					<div class="list-products-menu">
						<div class="title-two">
							<i class="material-icons">subject</i><span>BY PRICE</span>
						</div>
						<div class="list-products-item">
							<ul>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>$10 - $100</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>$101 - $200</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>$201 - $300</label>
										</div>
									</div>
								</li>
								<li>
									<div class="pretty p-default p-fill">
										<input type="checkbox" />
										<div class="state">
											<label>$301 - $400</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<hr />
				</div>
				<div class="col-lg-10">
					<div class="row">
						<div class="column">
							<img src="../img/banner_three_1.jpg" alt="" width="100%">
							<div class="product-title1">
								<a href="chitietsanpham.html">Luminous Dewy Skin Mist</a>
							</div>
							<p>$115.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_2.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Pure Radiant Tinted Moisturiser</a></div>
							<p>$96.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_3.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Very Useful Face Cream</a></div>
							<p>$90.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_4.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Vitamin Enriched Eye Base</a></div>
							<p>$76.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_5.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Gloss Boss Lip Gloss</a></div>
							<p>$67.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_6.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Original Nipple Balm for Lips</a></div>
							<p>$60.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_7.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Discover Healthy Skin Kit</a></div>
							<p>$56.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_8.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Hydraskin Light Cream Gel</a></div>
							<p>$47.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_9.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Brazilian Kiss Cupuacu Lip</a></div>
							<p>$39.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_10.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Cloud Dew Oil-Free Gel Cream</a></div>
							<p>$33.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_11.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Pout Pop Sheer Lipstick</a></div>
							<p>$27.00</p>
						</div>
						<div class="column">
							<img src="../img/banner_three_12.jpg" alt="" width="100%">
							<div class="product-title1"><a href="">Pro-Collagen Marine Cream</a></div>
							<p>$23.00</p>
						</div>
					</div>
				</div>
			
		</div>
			<div class="footer">
				<div class="menu-footer">
				<div class="item-footer">
					<ul>
						<li><h4>COMPANY</h4></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Store Locations</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				<div class="item-footer">
					<ul>
						<li><h4>HELP</h4></li>
						<li><a href="">Order Tracking</a></li>
						<li><a href="">FAQ’s</a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Terms & Conditions</a></li>
					</ul>
				</div>
				<div class="item-footer">
					<ul>
						<li><h4>STORE</h4></li>
						<li><a href="">New</a></li>
						<li><a href="">Skincare</a></li>
						<li><a href="">Makeup</a></li>
						<li><a href="">Sale</a></li>
					</ul>
				</div>
				<div class="item-footer1">
					<h4>FOLLOW US</h4>
					<p>And get Free Shipping on all your orders!</p>
					<div class="icon-footer">
						<ul>
							<li><i class="fab fa-facebook-f"></i></li>
							<li><i class="fab fa-instagram"></i></li>
							<li><i class="fab fa-twitter"></i></li>
							<li><i class="fab fa-pinterest"></i></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ft-footer">
				<h2>Sign up now & get 10% off</h2>
				<p>Be the first to know about our new arrivals and exclusive offers.</p>
				<div class="btn-footer">
					<input type="text" placeholder="Your email address">
					<button>Send</button>
				</div>
				<hr />
				<div class="end"><h4>©2021 NovaThemes</h4></div>
			</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/script1.js"></script>
</html>