<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style1.css" />
    <link rel="stylesheet" href="../css/style2.css" />
    <link rel="stylesheet" href="../css/style3.css" />
    <link rel="stylesheet" href="../css/style4.css" />
    <link rel="stylesheet" href="../css/style5.css" />
    <link rel="stylesheet" href="../css/style6.css" />
    <link rel="stylesheet" href="../css/style7.css" />
    <link rel="stylesheet" href="../css/style8.css" />
    <link rel="stylesheet" href="../css/style9.css" />
    <link rel="stylesheet" href="../css/style10.css" />
    <link rel="stylesheet" href="../css/style11.css" />
    <link rel="stylesheet" href="../css/style13.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Giỏ hàng</title>
  </head>
  <body>
    <div class="container-fuild">
      <div class="header">
        <div class="icon-bar">
          <div class="icon-left">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-instagram"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-pinterest"></i></li>
            </ul>
          </div>
          <div class="title">
            <h1>KARL</h1>
          </div>
          <div class="icon-right">
            <ul>
              <li><i class="fas fa-search"></i></li>
              <li><i class="far fa-heart"></i></li>
              <li><i class="fas fa-shopping-cart"></i></li>
              <li><i class="glyphicon glyphicon-menu-hamburger"></i></li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="menu">
          <div class="covermenu">
            <a href="index.html">Home</a>
            <div class="dropdown">
              <button class="dropbtn">Pages</button>
              <div class="dropdown-content">
                <a href="danhmucsp.html">Products</a>
                <a href="danhmucsp.html">Product 1</a>
                <a href="danhmucsp.html">Product 2</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Makeup</button>
              <div class="dropdown-content">
                <a href="chitietsanpham.html">Eyes</a>
                <a href="chitietsanpham.html">Face</a>
                <a href="chitietsanpham.html">Lip 3</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Skincare</button>
              <div class="dropdown-content">
                <a href="chitietsanpham.html">Sun care</a>
                <a href="chitietsanpham.html">Eyes</a>
                <a href="chitietsanpham.html">Toner</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Body</button>
              <div class="dropdown-content">
                <a href="chitietsanpham.html">Washes</a>
                <a href="chitietsanpham.html">Treatments</a>
                <a href="chitietsanpham.html">kits</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Blog</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </div>
        </div>
        <div class="header-products">
          <img src="../img/breadcrumb_1920x1920.jpg" alt="" width="100%" />
          <h2>Shopping Cart</h2>
          <p>
            <a href="index.html">Home /</a>
            <span>Shopping Cart</span>
          </p>
        </div>
      </div>
      <div class="content">
        <div class="col-lg-12">
          <div class="title-cart">Giỏ hàng</div>
        </div>
        <div class="content-cart">
          <div class="col-lg-9">
            <div class="block_donhang_cart space_bottom_20 width_common">
              <table
                cellpadding="0"
                cellspacing="0"
                border="0"
                class="tb_giohang width_common"
              >
                <tbody>
                  <tr class="t_head_tb">
                    <td class="w_sp">Sản phẩm</td>
                    <td class="w_giatien">Giá tiền</td>
                    <td class="w_soluong">Số lượng</td>
                    <td class="w_thanhtien">Thành tiền</td>
                  </tr>
                  <tr class="item-info item-row">
                    <td class="w_sp">
                      <a
                        class="thumb_donhang"
                        href="#"
                        title="Sữa Chống Nắng Sunplay Skin Aqua Dưỡng Da Ngừa Mụn 25g"
                      >
                        <img
                          src="https://media.hasaki.vn/catalog/product/f/a/facebook-dynamic-sua-chong-nang-sunplay-skin-aqua-duong-da-ngua-mun-25g_img_80x80_d200c5_fit_center.jpg"
                          class="loading"
                          alt=""
                        />
                      </a>
                      <div class="info_sp_donhang">
                        <a
                          href="#"
                          class="product space_bottom_5 text-uppercase"
                          ><strong>Sunplay</strong></a
                        >
                        <div class="title_sanpham_donhang">
                          <a href="#"
                            >Sữa Chống Nắng Sunplay Skin Aqua Dưỡng Da Ngừa Mụn
                            25g</a
                          >
                        </div>
                        <a href="#" class="item_sub_sp _btnAddToWishList">
                          <i class="fa fa-heart"></i>
                          Yêu thích
                        </a>
                        <a href="#" class="item_sub_sp _removeItemCart">
                          <i class="fa fa-close"></i>
                          Xóa
                        </a>
                        <div class="txt_color_2 txt_12 space_top_5">
                          Hóa đơn 179K ROHTO Tặng Son Dưỡng Lipice Hương Chanh
                          2.4g Trị Giá 69K (SL có hạn)
                        </div>
                      </div>
                    </td>
                    <td class="col text-right">
                      <b>110.000 ₫</b>
                      <input type="hidden" class="price_product" name="" value="110000">
                      <div class="giacu">112.000đ</div>
                    </td>
                    <td class="col qty text-right">
                      <div class="field qty space_bottom_5">
                        <div class="control qty wrap_qty">
                          <input
                            type="text"
                            id="cart-12069-qty"
                            class="input-text qty"
                            name="cart[12069][qty]"
                            value="1"
                          />
                          <span class="up btn-cart btn-up" data-type="up">
                            <i class="fa fa-caret-up">

                            </i>
                          </span>
                          <span class="down btn-cart btn-down" data-type="down">
                            <i class="fa fa-caret-down"></i>
                          </span>
                        </div>
                      </div>
                      <div class="txt_color_2 txt_12"></div>
                    </td>
                    <td class="col subtotal text-right item-total-price">
                      <b class="price priceSubtotal">110.000₫</b>
                      <input type="hidden" value="110000" name="">
                    </td>
                  </tr>
                  <tr class="item-info item-row">
                    <td class="w_sp">
                      <a
                        class="thumb_donhang"
                        href="#"
                        title="Sữa Chống Nắng Sunplay Skin Aqua Dưỡng Da Ngừa Mụn 25g"
                      >
                        <img
                          src="https://media.hasaki.vn/catalog/product/f/a/facebook-dynamic-sua-chong-nang-sunplay-skin-aqua-duong-da-ngua-mun-25g_img_80x80_d200c5_fit_center.jpg"
                          class="loading"
                          alt=""
                        />
                      </a>
                      <div class="info_sp_donhang">
                        <a
                          href="#"
                          class="product space_bottom_5 text-uppercase"
                          ><strong>Sunplay</strong></a
                        >
                        <div class="title_sanpham_donhang">
                          <a href="#"
                            >Sữa Chống Nắng Sunplay Skin Aqua Dưỡng Da Ngừa Mụn
                            25g</a
                          >
                        </div>
                        <a href="#" class="item_sub_sp _btnAddToWishList">
                          <i class="fa fa-heart"></i>
                          Yêu thích
                        </a>
                        <a href="#" class="item_sub_sp _removeItemCart">
                          <i class="fa fa-close"></i>
                          Xóa
                        </a>
                        <div class="txt_color_2 txt_12 space_top_5">
                          Hóa đơn 179K ROHTO Tặng Son Dưỡng Lipice Hương Chanh
                          2.4g Trị Giá 69K (SL có hạn)
                        </div>
                      </div>
                    </td>
                    <td class="col text-right">
                      <b>110.000 ₫</b>
                      <input type="hidden" class="price_product" name="" value="110000">
                      <div class="giacu">112.000đ</div>
                    </td>
                    <td class="col qty text-right">
                      <div class="field qty space_bottom_5">
                        <div class="control qty wrap_qty">
                          <input
                            type="text"
                            id="cart-12069-qty"
                            class="input-text qty"
                            name="cart[12069][qty]"
                            value="1"
                          />
                          <span class="up btn-cart btn-up" data-type="up">
                            <i class="fa fa-caret-up">

                            </i>
                          </span>
                          <span class="down btn-cart btn-down" data-type="down">
                            <i class="fa fa-caret-down"></i>
                          </span>
                        </div>
                      </div>
                      <div class="txt_color_2 txt_12"></div>
                    </td>
                    <td class="col subtotal text-right item-total-price">
                      <b class="price priceSubtotal">110.000₫</b>
                      <input type="hidden" value="110000" name="">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-3">
            <div id="box_hoadon" class="item_box_col_right space_bottom_20">
              <div class="title_common_site">Hóa đơn của bạn</div>
              <div class="content_common_site">
                <div class="block_thanhtien">
                  <div class="space_bottom_5">
                    Tạm tính:
                    <b class="pull-right" id="total"> </b>
                    
                    <div class="clearfix"></div>
                  </div>  
                  <div class="space_bottom_5">
                    Giảm giá:
                    <b class="pull-right"> -0 ₫ </b>
                    <div class="clearfix"></div>
                  </div>
                  <div class="width_common space_bottom_5 total_common">
                    Tổng cộng:
                    <b class="txt_giatien txt_color_2 pull-right" id="total">
                      
                    </b>
                    <div class="clearfix"></div>
                  </div>
                  <div class="space_bottom_5 txt_999">(Đã bao gồm VAT)</div>
                  <div class="text-center">
                    <button class="btn btn_site_2" type="submit" onclick="">
                      Tiến hành đặt hàng
                    </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/giohang.js"></script>
</html>
